In [1]:
import pandas as pd
import pyecharts
import numpy as np
import csv
import seaborn
import matplotlib

import pyecharts.options as opts
from pyecharts.charts import Grid, Boxplot, Scatter

进行数据读入

In [7]:
buffer = pd.read_csv('pica2015.csv', header=0, encoding="utf-8", low_memory=False)
# print(buffer)
buffer.set_index('Unnamed: 0', inplace=True)
buffer.head()

,CNTSCHID,Region,STRATUM,SUBNATIO,OECD,ADMINMODE,Option_CPS,Option_FL,Option_ICTQ,Option_ECQ,...,PV3SSES,PV4SSES,PV5SSES,PV6SSES,PV7SSES,PV8SSES,PV9SSES,PV10SSES,SENWT,REPEAT
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,97100001,72409,ESP9017,7240900,2,2,1,1,1,1,...,219.875,303.038,285.110,273.971,207.956,314.248,375.058,277.122,0.61951,1
1,97100001,72409,ESP9017,7240900,2,2,1,1,1,1,...,364.385,302.733,327.340,364.538,390.651,420.026,353.710,402.950,0.70697,1
2,97100001,72409,ESP9017,7240900,2,2,1,1,1,1,...,393.415,313.403,352.497,396.071,399.086,383.038,365.690,350.367,0.70697,1
3,97100001,72409,ESP9017,7240900,2,2,1,1,1,1,...,408.821,490.702,488.315,507.399,520.479,490.148,417.544,405.723,0.61951,1
4,97100001,72409,ESP9017,7240900,2,2,1,1,1,1,...,438.807,446.787,408.045,473.160,474.723,393.110,489.057,465.089,0.61951,1

In [10]:
# buffer.shape
buffer.columns
# buffer.index

Index(['CNTSCHID', 'Region', 'STRATUM', 'SUBNATIO', 'OECD', 'ADMINMODE',
       'Option_CPS', 'Option_FL', 'Option_ICTQ', 'Option_ECQ',
       ...
       'PV3SSES', 'PV4SSES', 'PV5SSES', 'PV6SSES', 'PV7SSES', 'PV8SSES',
       'PV9SSES', 'PV10SSES', 'SENWT', 'REPEAT'],
      dtype='object', length=429)

In [8]:
buffer.loc[3]

CNTSCHID    97100001
Region         72409
STRATUM      ESP9017
SUBNATIO     7240900
OECD               2
              ...
PV8SSES      490.148
PV9SSES      417.544
PV10SSES     405.723
SENWT        0.61951
REPEAT             1
Name: 3, Length: 429, dtype: object

In [9]:
buffer.dtypes

CNTSCHID      int64
Region        int64
STRATUM      object
SUBNATIO      int64
OECD          int64
             ...
PV8SSES     float64
PV9SSES     float64
PV10SSES    float64
SENWT       float64
REPEAT        int64
Length: 429, dtype: object

In [4]:
buffer['ST060Q01NA']

0        56
1        99
2        27
3        30
4        20
         ..
32125    30
32126    40
32127    14
32128    16
32129    99
Name: ST060Q01NA, Length: 32130, dtype: object

In [27]:
df1 = buffer[['PV3SSES', 'ST060Q01NA', 'REPEAT']]
df1
# df1.loc[:, 'ST060Q01NA'] = df1['ST060Q01NA'].astype('int32')

            PV3SSES ST060Q01NA  REPEAT
Unnamed: 0
0           219.875         56       1
1           364.385         99       1
2           393.415         27       1
3           408.821         30       1
4           438.807         20       1
...             ...        ...     ...
32125       333.743         30       1
32126       254.325         40       1
32127       345.183         14       1
32128       326.264         16       0
32129       371.007         99       1

[32130 rows x 3 columns]

In [25]:
df2 = buffer[['PV3SSES', 'REPEAT']]
# df2
df2.describe()

            PV3SSES        REPEAT
count  32130.000000  32130.000000
mean     503.292197      0.284936
std       89.800719      0.451391
min      146.404000      0.000000
25%      441.373500      0.000000
50%      507.002500      0.000000
75%      567.923750      1.000000
max      807.958000      1.000000

In [ ]:
repeat_list, grade_list = [], []
tense_list = []
contry_list = []
class_periods = []
with open('pica2015.csv', 'r') as f:
    reader = csv.reader(f)
    # print(reader)
    for row in reader:
        # print(row)
        print('repeat index:{}'.format(row.index('REPEAT')))
        # print(row.index('CNTSCHID'))
        print('grade index:{}'.format(row.index('ST001D01T')))
        print('tense index:{}'.format(row.index('ST118Q04NA')))
        print('new index:{}'.format(row.index('ST060Q01NA')))
        break
    for i, row in enumerate(reader):
        # if i < 5:
        #     print(i)
        #     print(row)
        # contry_list.append(row[2])
        # grade_list.append(eval(row[21]))
        # repeat_list.append(eval(row[429]))
        # tense_list.append(eval(row[79]))
        # class_periods.append(row[112])
        if row[112] == ' ' or row[112] == '\n' or row[112] == '\t':
            class_periods.append(-1)
        else:
            class_periods.append(eval(row[112].replace('\n','').replace('\t','')))
        # .replace('\n','')

# print(repeat_list)
# print(contry_list)
# print(grade_list)
# print(tense_list)  # 有缺失
# print(class_periods)
print(class_periods.index(0))
print(class_periods[3529])

In [ ]:
box_plot = Boxplot()

box_plot = (
    box_plot.add_xaxis(xaxis_data=["Class Periods"])
    .add_yaxis(series_name="", y_axis=box_plot.prepare_data([class_periods]))
    .set_global_opts(
        title_opts=opts.TitleOpts(
            pos_left="center", title="箱图demo1",
            title_textstyle_opts=opts.TextStyleOpts(
                color='rgb(15, 117, 194)'
            )
        ),
        tooltip_opts=opts.TooltipOpts(trigger="item", axis_pointer_type="shadow"),
        xaxis_opts=opts.AxisOpts(
            type_="category",
            # name="category",
            boundary_gap=True,
            splitarea_opts=opts.SplitAreaOpts(is_show=False),
            axislabel_opts=opts.LabelOpts(formatter="{value}"),
            splitline_opts=opts.SplitLineOpts(is_show=False),
            name_textstyle_opts=opts.TextStyleOpts(
                color='rgb(15, 117, 194)',
                font_weight='bold'
            ),
        ),
        yaxis_opts=opts.AxisOpts(
            type_="value",
            name="number",
            splitarea_opts=opts.SplitAreaOpts(
                is_show=True, areastyle_opts=opts.AreaStyleOpts(opacity=1)
            ),
            name_textstyle_opts=opts.TextStyleOpts(
                # color='rgb(15, 117, 194)',
                font_weight='bold'
            )
        ),
    )
    .set_series_opts(tooltip_opts=opts.TooltipOpts(formatter="{b}: {c}"))
)

# grid = (
#     Grid(init_opts=opts.InitOpts(width="1600px", height="1000px"))
#     .add(
#         box_plot,
#         grid_opts=opts.GridOpts(pos_left="10%", pos_right="10%", pos_bottom="15%"),
#     )
#     .render("boxplot_light_velocity.html")
# )

box_plot.render_notebook()